@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.common {
    background-color: green;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.common h1 {
    color: white;
    font-size: 90px;
}

.cards-scroll {
    padding: 100px 0;
}

.card {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    top: 50px;
    position: sticky;
    border: 1px solid red;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-header {
    background: gray;
    width: 100%;
    min-height: 70px;
    padding: 8px 20px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}